@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
#root {
  height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white: #ffffff;
  --ltGray: #f7f7f7;
  --medGray: #8e8e8e;
  --drkGray: #565656;
  --blue: #517aa1;
  --black: #000000;
  --font: "Inter", sans-serif;
}
body {
  font-family: var(--font);
  background-color: var(--ltGray);
}
.app-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-container {
  text-align: center;
  margin-bottom: 20px;
}

.form-container h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
